################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AKARi.Deployment.Validation/obj/Debug
/AKARi.Deployment.Validation/bin/Debug
/packages/NLog.4.5.0
